

/*** RESETS ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: sans-serif;
}


/*** GLOBAL CLASSES ***/
.text-center{
    text-align: center;
}

.hide {
    display: none;
}


/*** CUSTOM STYLES ***/
.main-header {
    margin: 25px 0 45px;
}

/* Start Button */

.card-wrap #start {
   padding: 10px 0;
   min-width: 250px; 
   font-size: 1rem;
   background-color: darkblue;
   border: none;
   color: white;
   cursor: pointer;
}

.card-display {
    padding: 25px; 
    border: 1px solid #aaa;
    max-width: 500px;
    margin: 0 auto;
}

.card-display #question-display {
    margin-bottom: 15px;
}

.card-display #timer-display {
    font-size: 2rem;
}

.card-display #answer-display {
    background-color: #00cd30;
    padding: 10px;
    color: white; 
    margin-bottom: 20px;
}

.card-display #next {
    padding: 5px 35px;
    font-size: 0.9rem;
    background-color: #999;
    color: #fff;
    border: none;
    cursor: pointer;
}

.card-display #next:hover {
    background-color: #898989;
}

/*** RESPONSIVE STYLES ***/